.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    color: black;
    

}

.container div {
    background-color: yellowgreen;
    font-size: 2.5rem;
    text-align: center;
    
}

.header {
    grid-column: 1 / span 12;

}

.nav {
    grid-column: 4/ span 6;

}

.sidebar {
    grid-row: 2/span 10;
    grid-column: 1 / span 3;
}

.ads {
    grid-row: 2 / span 10;
    grid-column: 10 / span 3;
}

.main {
    grid-row: 3 / span 9;
    grid-column: 4 / span 6;
}

.footer {
    grid-column: 1 / span 12;
}

@media (max-width:700px) {
    .header {
            grid-column: 1 / span 12;
            
    
        }
    
        .nav {
            grid-column: 1/ span 12;
            grid-row: 2;
    
        }
    
        .sidebar {
            grid-row: 3/span 9;
            grid-column: 1 / span 3;
        }
    
        .ads {
            grid-column: 1/ span 3;
            grid-row: 12;
        }
    
        .main {
            grid-row: 3 / span 9;
            grid-column: 4 / span 9;
        }
    
        .footer {
            grid-column: 4/ span 9;
            grid-row: 12;
        
        }   
}